<div class="alert alert-success" *ngIf="success">
  <strong>Restaurant saved!</strong> Please check the Restaurants tab to see yours.
</div>

<div class="section-card">
  <div class="card-header mb-3">
    <h2><strong>Add A New Restaurant</strong></h2>
  </div>
  <div class="card-body">
    <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-4">
          <label>
            <strong>Name:</strong>
          </label>
          <input type="text" formControlName="name">
          <p>e.g. Tots, Cellar</p>
        </div>
        <div class="col-4">
          <label>
            <strong>Cuisine:</strong>
          </label>
          <input type="text" formControlName="cuisine">
          <p>e.g. American, Mexican</p>
        </div>
        <div class="col-4">
          <label>
            <strong>Bar:</strong>
          </label>
          <input type="text" formControlName="bar">
          <p>e.g. Yes = 1, No = 0</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>
            <strong>Specials:</strong>
          </label>
          <input type="text" formControlName="specials">
          <p>e.g Taco Tuesday</p>
        </div>
        <div class="col-4">
          <label>
            <strong>Location:</strong>
          </label>
          <input type="text" formControlName="location">
          <p>e.g. Blacksburg, Christiansburg</p>
        </div>
        <div class="col-4">
          <label>
            <strong>Price:</strong>
          </label>
          <input type="text" formControlName="price">
          <p>e.g. $ = 1, $$ = 2, $$$ = 3</p>
        </div> 
      </div>
      <div class="row">
        <div class="col">
          <p>
            <strong>Form Status:</strong> {{ restaurantForm.status }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" [disabled]="!restaurantForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>



